* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111827;
  max-width: 105em;
}

.title {
  font-family: "Caveat", cursive;
  color: white;
  padding: 0 10px;
  font-size: 40px;
  display: inline-block;
  margin: 15px 20px;
}
.relative {
  margin: 55px;
  left: 16em;
  bottom: 7.7em;
}
.box-card {
  margin: 10px 25px;
  padding: 15px;
}
.song-box {
  border-radius: 25px;
  margin: 25px;
}

.h-card {
  max-width: fit-content;
}
.h-box {
  border-radius: 25px;
  margin: 20px;
}

.card-title {
  margin: 25px;
  padding: 25px;
  border-radius: 25px;
}
